<div style="margin-top:9%">
	<div class="row-fluid">
		<div class="col-md-3 col-md-offset-0" style="color:white" >
		</div>
		<div class="col-md-6 col-md-offset-0">
		
			<div style="color:grey; margin-top:30px;  border: 1px #e4e4e4 solid;  padding: 20px; padding-top: 0px; border-radius: 4px; box-shadow: 0 0 6px #ccc; background-color: #fff;">
				<h2>Sign up</h2>
				<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				 
				  <div><%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "E-mail" %></div>

				  <div><%= f.password_field :password,placeholder: "Password", autocomplete: "off",hide_label: true
				  #, help: "A good password should be at least six characters long" 
				  %></div>

				  <div><%= f.password_field :password_confirmation, hide_label: true, autocomplete: "off", placeholder: "Confirm Password"%></div>

				  <div><%= f.submit "Sign up", class: "btn btn-small btn-sign-up btn-block" %></div>
				<% end %>
			</div>


			<style type="text/css">
				.btn-sign-up { background-color: hsl(46, 93%, 42%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdf2cd", endColorstr="#cea007"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fdf2cd), to(#cea007)); background-image: -moz-linear-gradient(top, #fdf2cd, #cea007); background-image: -ms-linear-gradient(top, #fdf2cd, #cea007); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdf2cd), color-stop(100%, #cea007)); background-image: -webkit-linear-gradient(top, #fdf2cd, #cea007); background-image: -o-linear-gradient(top, #fdf2cd, #cea007); background-image: linear-gradient(#fdf2cd, #cea007); border-color: #cea007 #cea007 hsl(46, 93%, 30%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.79); -webkit-font-smoothing: antialiased; }
			</style>
	</div>
	<div class="col-md-3 col-md-offset-0" style="color:white" >
		</div>
	</div>
</div>