
<div style="margin-top:50px">
<div class="row-fluid">

<div class="col-md-2" style="color:white" >
</div>


<div class="col-md-5" style="color:white" >

<h1>Welcome to Represent Egypt.</h1>
</br>
<div style="font-size:20px">Creating a visualized network of Egyptian startups and entrepreneurships on the map. We aim to form an accessible database, networking platform, and digital incubator for startups, initiatives, and co-working spaces in Egypt.</div>


</div>


<div class="col-md-3 ">
<div style="color:grey; margin-top:30px;  border: 1px #e4e4e4 solid;  padding: 20px; border-radius: 4px; box-shadow: 0 0 6px #ccc; background-color: #fff;">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :type => "email", :class => "form-control", :placeholder => "Email address" , autofocus: true %></div>
  </br>




 

  <div>
    <%= f.password_field :password, :type => "password", :class => "form-control", :placeholder => "Password" , autocomplete: "off" %></div>
   	
  </br>

  
  <div><%= f.submit "Sign in", :class => "btn btn-small btn-primary btn-block", :type => "submit" %></div>



  
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me , {:style=>'font-weight: normal;'}%> 
  <% end -%>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), {:style=>'float:right; margin-top: 1.1%'} %>
  
<% end -%>


  


<% end %>
</div>


<div style="color:grey; margin-top:30px;  border: 1px #e4e4e4 solid;  padding: 20px; border-radius: 4px; box-shadow: 0 0 6px #ccc; background-color: #fff;">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :type => "email", :class => "form-control", :placeholder => "Email address" , autofocus: true %></div>
  </br>




 

  <div>
    <%= f.password_field :password, :type => "password", :class => "form-control", :placeholder => "Password" , autocomplete: "off" %></div>
   	
  </br>

  
  <div><%= f.submit "Sign in", :class => "btn btn-small btn-primary btn-block", :type => "submit" %></div>



  
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me , {:style=>'font-weight: normal;'}%> 
  <% end -%>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), {:style=>'float:right; margin-top: 1.1%'} %>
  
<% end -%>


  


<% end %>
</div>



<div style="color:grey; margin-top:30px;  border: 1px #e4e4e4 solid;  padding: 20px; border-radius: 4px; box-shadow: 0 0 6px #ccc; background-color: #fff;">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :type => "email", :class => "form-control", :placeholder => "Email address" , autofocus: true %></div>
  </br>




 

  <div>
    <%= f.password_field :password, :type => "password", :class => "form-control", :placeholder => "Password" , autocomplete: "off" %></div>
   	
  </br>

  
  <div><%= f.submit "Sign in", :class => "btn btn-small btn-primary btn-block", :type => "submit" %></div>



  
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me , {:style=>'font-weight: normal;'}%> 
  <% end -%>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), {:style=>'float:right; margin-top: 1.1%'} %>
  
<% end -%>


  


<% end %>
</div>

</div>


</div>
</div>